<a href="https://colab.research.google.com/github/DojunPark/Research_Undergraduate_Student_Program/blob/master/%5Bmachinetranslation%5D%2004_making_dataset_800k.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- 현재 위치

In [1]:
pwd

'/content'

- 데이터 불러오기

In [6]:
import pandas as pd

df1 = pd.read_excel('/content/drive/My Drive/Colab Notebooks/3_문어체_뉴스(1)_200226.xlsx')
df2 = pd.read_excel('/content/drive/My Drive/Colab Notebooks/3_문어체_뉴스(2)_200226.xlsx')
df3 = pd.read_excel('/content/drive/My Drive/Colab Notebooks/3_문어체_뉴스(3)_200226.xlsx')
df4 = pd.read_excel('/content/drive/My Drive/Colab Notebooks/3_문어체_뉴스(4)_200226.xlsx')

- 데이터 구조 확인하기

In [9]:
df1.head(1)

         ID  ...                                       번역문
0  20961563  ...  Skinner's reward is mostly eye-watering.

[1 rows x 9 columns]

In [10]:
df2.head(1)

         ID                   날짜  ...                    원문                   번역문
0  21264723  2019-02-08 00:00:00  ...  흠 잡힐 만한 일은 피하는 게 좋다.  Avoid flawed things.

[1 rows x 9 columns]

In [11]:
df3.head(1)

         ID        날짜  ...                        원문                        번역문
0  20261311  20190306  ...  그녀가 할 수 있는 것은 우는 것이었습니다.  All she could do was cry.

[1 rows x 9 columns]

In [12]:
df4.head(1)

         ID  ...                                       번역문
0  20918143  ...  Since then, his whereabouts are unknown.

[1 rows x 9 columns]

- 데이터 차원 확인하기

In [16]:
print(df1.shape)
print(df2.shape)
print(df3.shape)
print(df4.shape)

(200011, 9)
(200541, 9)
(200835, 9)
(200000, 9)

- 데이터 병합하기

In [13]:
df = pd.concat([df1, df2, df3, df4], axis=0)
df.shape

(801387, 9)

In [17]:
df.sample(10)

              ID  ...                                                번역문
140164   1558494  ...  Separately, a special plane of Air Koryo Fligh...
26461   21654052  ...  What's noteworthy is that the facility will be...
23344   20563743  ...  Citizens came from all over Japan including Ho...
141128   9031387  ...  “I felt good just riding the longest Geumosan ...
38327    4685665  ...  "QV S&P500 VIX S/T Futures ETN" was up 33.42% ...
129246   9194380  ...  "The current Awards and Decorations Act does n...
85753    2905071  ...  Personally, I like songs from various genres t...
68183     539199  ...  There is high cultural barrier between South a...
193477  10220070  ...  Analysts say that if the national pension issu...
177836   1840222  ...  A provincial government official said, "As the...

[10 rows x 9 columns]

- 원문과 번역문만 선택하여 저장하기

In [20]:
df_new = df[['원문', '번역문']].rename(columns = {'원문':'kor', '번역문':'eng'}, inplace=False)
df_new.to_csv('/content/drive/My Drive/Colab Notebooks/news800k.csv', index=False)

- 저장된 파일 확인하기

In [22]:
df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/news800k.csv')
df.sample(5)

                                                      kor                                                eng
133745  금융위는 시장 수요가 시급한 점을 고려해 클라우드, AI, 빅데이터 등이 활용될 수...  The Financial Services Commission plans to pre...
473867  조선일보는 김씨와 공지영 작가 등이 애초부터 박 변호사 선임을 염두에 뒀으나 박 변...  The Chosun Ilbo said that Kim and writer Gong ...
779850  이를 두고 김정훈 의원은 국감에서 “올 상반기 18개 국내은행이 예대마진으로 20조...  Representative Kim Jung-hoon criticized the ba...
40124   아직은 산악지형이 많고, 전력이나 도로 사정이 열악한, 게다가 물도 부족한 중국에서...  Developing shale gas is not profitable in Chin...
775519  “한국이 정부의 목표대로 재생에너지 비중을 획기적으로 높이려면 국민들의 삶이 변하지...  The advice from the German experts came to con...