# 데이터셋 불러오기

In [2]:
import pandas as pd

In [1]:
df = pd.read_excel('3_문어체_뉴스(1)_200226.xlsx')
df.head()

,ID,날짜,자동분류1,자동분류2,자동분류3,URL,언론사,원문,번역문
0,20961563,2018-10-01 00:00:00,"경제,국제경제","IT_과학,IT_과학일반","문화,문화일반",http://www.sedaily.com/NewsView/1S5QRSR5T2,서울경제,스키너가 말한 보상은 대부분 눈으로 볼 수 있는 현물이다.,Skinner's reward is mostly eye-watering.
1,20930897,2018-09-14 00:00:00,"IT_과학,IT_과학일반",NaN,NaN,http://www.sedaily.com/NewsView/1S4MSFM0IH,서울경제,심지어 어떤 문제가 발생할 건지도 어느 정도 예측이 가능하다.,Even some problems can be predicted.
2,20307875,2019-04-19 00:00:00,"IT_과학,과학",NaN,NaN,http://news.kmib.co.kr/article/view.asp?arcid=...,국민일보,오직 하나님만이 그 이유를 제대로 알 수 있을 겁니다.,Only God will exactly know why.
3,20314977,2019-04-27 00:00:00,"국제,중국","경제,국제경제",NaN,http://news.kmib.co.kr/article/view.asp?arcid=...,국민일보,중국의 논쟁을 보며 간과해선 안 될 게 기업들의 고충이다.,Businesses should not overlook China's dispute.
4,20268904,2019-03-13 00:00:00,"문화,방송_연예","사회,미디어",NaN,http://news.kmib.co.kr/article/view.asp?arcid=...,국민일보,박자가 느린 노래는 오랜 시간이 지나 뜨는 경우가 있다.,Slow-beating songs often float over time.

In [6]:
df['원문'].head()

0      스키너가 말한 보상은 대부분 눈으로 볼 수 있는 현물이다.
1    심지어 어떤 문제가 발생할 건지도 어느 정도 예측이 가능하다.
2        오직 하나님만이 그 이유를 제대로 알 수 있을 겁니다.
3      중국의 논쟁을 보며 간과해선 안 될 게 기업들의 고충이다.
4       박자가 느린 노래는 오랜 시간이 지나 뜨는 경우가 있다.
Name: 원문, dtype: object

In [7]:
df['번역문'].head()

0           Skinner's reward is mostly eye-watering.
1               Even some problems can be predicted.
2                    Only God will exactly know why.
3    Businesses should not overlook China's dispute.
4          Slow-beating songs often float over time.
Name: 번역문, dtype: object

In [9]:
df[['원문', '번역문']].head()

,원문,번역문
0,스키너가 말한 보상은 대부분 눈으로 볼 수 있는 현물이다.,Skinner's reward is mostly eye-watering.
1,심지어 어떤 문제가 발생할 건지도 어느 정도 예측이 가능하다.,Even some problems can be predicted.
2,오직 하나님만이 그 이유를 제대로 알 수 있을 겁니다.,Only God will exactly know why.
3,중국의 논쟁을 보며 간과해선 안 될 게 기업들의 고충이다.,Businesses should not overlook China's dispute.
4,박자가 느린 노래는 오랜 시간이 지나 뜨는 경우가 있다.,Slow-beating songs often float over time.

# 데이터셋 저장하기

In [10]:
df_sample = df[['원문', '번역문']].rename(columns = {'원문': 'kor', '번역문': 'eng'}, inplace = False)
df_sample.head()

,kor,eng
0,스키너가 말한 보상은 대부분 눈으로 볼 수 있는 현물이다.,Skinner's reward is mostly eye-watering.
1,심지어 어떤 문제가 발생할 건지도 어느 정도 예측이 가능하다.,Even some problems can be predicted.
2,오직 하나님만이 그 이유를 제대로 알 수 있을 겁니다.,Only God will exactly know why.
3,중국의 논쟁을 보며 간과해선 안 될 게 기업들의 고충이다.,Businesses should not overlook China's dispute.
4,박자가 느린 노래는 오랜 시간이 지나 뜨는 경우가 있다.,Slow-beating songs often float over time.

In [11]:
df_sample.shape

(200011, 2)

In [13]:
df_sample.to_csv('C:\\RUS\\dataset for machine translation\\news_200k.csv', sep=',', na_rep='NaN')

In [3]:
df_reload = pd.read_csv('C:\\Users\\Dojun Park\\Documents\\dataset\\news_200k.csv')
df_reload.head()

,Unnamed: 0,kor,eng
0,0,스키너가 말한 보상은 대부분 눈으로 볼 수 있는 현물이다.,Skinner's reward is mostly eye-watering.
1,1,심지어 어떤 문제가 발생할 건지도 어느 정도 예측이 가능하다.,Even some problems can be predicted.
2,2,오직 하나님만이 그 이유를 제대로 알 수 있을 겁니다.,Only God will exactly know why.
3,3,중국의 논쟁을 보며 간과해선 안 될 게 기업들의 고충이다.,Businesses should not overlook China's dispute.
4,4,박자가 느린 노래는 오랜 시간이 지나 뜨는 경우가 있다.,Slow-beating songs often float over time.

In [4]:
df_reload.shape

(200011, 3)

In [9]:
df_reload.sample(10)

,Unnamed: 0,kor,eng
100842,100842,교단 교파가 다른 교회들이 오륜교회의 기도회를 자기네 교회에서 영상으로 보면서 참여...,Many people thought strange about the format i...
81019,81019,정규직 노조는 지난 6월 동일한 입사 과정을 거치지 않고 정규직으로 전환되는 게 옳...,The Full-time Worker's Labor Union complained ...
9286,9286,차량 배터리 보호를 위해 저전압 시 자동으로 전원이 차단된다.,"To protect the vehicle battery, the power is a..."
40605,40605,올해 이명우의 활약을 보면 충분히 내년 시즌에도 쓰임새가 있을 것으로 예상됨에도 롯...,Lee Myung-woo's performance this year is expec...
5522,5522,영공 침범을 방지하기 위해 각 국가가 임의적으로 설정한 구역이다.,It is an area arbitrarily established by each ...
67380,67380,극 중 어리지만 정의감만큼은 누구보다 투철한 인물 임바른을 완벽히 소화한 고아라 뒤...,"Behind Go A-ra, who played Lim Ba-reum a chara..."
12398,12398,아침부터 고된 일이지만 즐겁게 일 해주는 직원들이 있어 든든하다.,"It's hard work from morning, but good thing th..."
13566,13566,이디야커피가 배달 서비스에 나서는 이유는 가맹점 매출을 극대화하기 위해서다.,The reason why Ediya Coffee stepping in delive...
197040,197040,김덕룡 민주평화통일자문회의 수석부의장은 22일 “남북 정상이 4·27 판문점선언에서...,"Kim Deog-ryong, senior vice president of the A..."
169972,169972,"최은옥 교육부 고등교육정책관은 “대학의 교육 여건, 약대 발전계획 등을 종합적으로 ...","""By taking into consideration the educational ..."